@import "../variables";

.main-roots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  .MuiGrid-container {
    .MuiGrid-item {
      .image-gallery {
        .image-gallery-content {
          .image-gallery-slide-wrapper {
            .image-gallery-swipe {
              .image-gallery-slides {
                .image-gallery-slide {
                  .image-gallery-image {
                    object-fit: cover;
                    border-radius: 4px;
                  }
                }
              }
            }
            .image-gallery-left-nav, .image-gallery-right-nav {
              padding: 0;
              .image-gallery-svg {
                height: 60px;
                width: 60px;
              }
            }
            .image-gallery-play-button {
              display: none;
            }
          }
        }
      }
    }
  }
   
}
