@import "../variables";

.location-root {
  width: 100vw !important;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111315;
  background-image: url('https://vinhomesdaian.vn/wp-content/uploads/2021/06/vinhome-dai-an-hung-yen-3.jpg');
  background-repeat: no-repeat;
  .location-body {
    background-color: rgba(111, 109, 109, 0.8);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    .body-content {
      max-width: 1000px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .image-location-dai-an {
        width: 100%;
        height: 50vh;
        object-fit: cover;
      }
      .content {
        color: #fff;
        padding: 8px 0;
      }
    }
  }
}