@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import './data-client';
@import './pages/index';
@import './variables';
@import './pages/footer';
@import './pages/header';
@import './pages/fixed';
@import './pages/from';
@import './pages/location';
@import './pages/images-list';
@import './pages/snow';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 4px 0;
}

ul {
  padding: 4px;
}

li {
  padding: 0;
  margin-left: 20px;
}

image {
  border-radius: 4px !important;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
